*{
	box-sizing: border-box;
	
}
.top-nav{
	background: #4286f4;
}

.navbar{
	display: flex;
	font-size: 30px;
	padding: 5px 20px;
	/*justify-content: space-between;*/
}
.nav-toggle{
	margin-left: auto;
}
.nav-list-collapsed{
	display: none;
}