*{
	box-sizing: border-box;
	
}
.top-nav{
	background: #4286f4;
	width: 100%;
text-align:right;

}
nav li{
	text-decoration: none;
	list-style: none;
	padding: 5px;
}


.navbar{
	display: flex;
	font-size: 30px;
	padding: 5px 20px;
	/*justify-content: space-between;*/
}
.nav-toggle{
	margin-left: auto;
}
.nav-list-collapsed{
	display: none;
}

img{
	width: 100%;
}

h1{
	text-align: center;
	font-size: 36px;
	border: 2px solid black;
	padding: 10px;
	margin: auto;
}

.header-of {
	text-align: center;
	width: 100%;
	background: url(../images/piece.jpeg);
	padding: 100px;
	background-position: cover;
	color:black;
}
